*{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body{
	background-color: #606061;
	font-size: 0.75em;
}

p{
	font-size: 1em;
	margin: 0 0 1em 0;
	text-align: justify;
}

dl{
	padding: 10px;
	min-width: 960px;
}

dl dt{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0;
	width: 400px;
}

dl dt a{
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	display: block;
}

dl dd{
	color: #CCCCCC;
	margin: 0;
	width: 400px;
	overflow: hidden;
	-webkit-transition: height 1s ease;
	-moz-transition: height 1s ease;
	-o-transition: height 1s ease;
}

dl dd p{
	padding: 10px;
	margin: 0;
}

dl dd:not(:target){
	height: 0;
}

dl dd:target{
	height: 9.5em;
}

dl a.ie:hover dd, dl a.ie:focus dd{
	height: auto;
	color: #CCCCCC !important;
}